.eventList {
  display: block;
  text-align: center;
  background-color: darkgray;
}

#eventForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align:left;
}

.submitBtn {
  cursor: pointer;
    background: black;
    color: white;
    border: red;
}